<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/layout/admin_head::admin_header"></head>

<body>
<div class="d-flex" id="wrapper">
    <div th:replace="admin/layout/sidebar::admin_sidebar"></div>
    <div id="page-content-wrapper">
        <div th:replace="admin/layout/sidebar::admin_top"></div>
        <div class="container">
            <div style="border-bottom: 1px solid #dcdcdc; padding-bottom: 20px; margin-top: 50px; margin-bottom: 60px">
                <h1 class="fw-bolder" th:text="*{post.title}" >제목</h1>
            </div>
            <label th:utext="${post.content}">내용</label>
        </div>
    </div>
</div>
</body>

</html>