<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="paging">
    <nav aria-label="Page navigation" th:with="start=${page.min}, end=${page.max}">
        <ul class="pagination justify-content-center">
            <li th:if="${page.prevPage > 0}" class="page-item"><a class="page-link" th:href="@{/?(category=${categoryId})(page=${page.prevPage})}">Previous</a></li>
            <div th:each="pagination : ${#numbers.sequence(start, end)}">
                <li th:if="${pagination-1 == page.currentPage}" class="page-item active"> <a th:href="@{/?(category=${categoryId})(page=${pagination-1})}" class="page-link" th:text="${pagination}">1</a> </li>
                <li th:if="${pagination-1 != page.currentPage}" class="page-item"> <a th:href="@{/(category=${categoryId}, page=${pagination-1})}" class="page-link" th:text="${pagination}">1</a> </li>
            </div>
            <li th:if="${page.nextPage} < ${page.totPageCnt}" class="page-item"><a
                    th:href="@{/?(category=${categoryId})(page=${page.nextPage})}" class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>


</html>