<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="home_sidebar">
    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper" style="font-family: OTWelcomeRA; font-weight:bold">
        <!-- border-end -->
        <div class="sidebar-heading bg-white fw-bold" style="margin-bottom:50px">Category</div>
        <!-- border-bottom -->
        <ul class="list-group" th:each="category : ${categories}">
            <li class="list-group-item d-flex justify-content-between align-items-center p-3" style="border-right:none; border-left:none; border-top:none; border-bottom:none">
                <a class="fw-bold" th:text="${category.name}" style="text-decoration:none; color:black;" th:href="@{/?category={name} (name=${category.name})}"></a>
                 <span class="badge bg-primary rounded-pill" th:text="${category.postNum}"></span>
            </li>
        </ul>
    </div>
</div>
<div th:fragment="home_top">
    <!-- Top navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <!-- border-bottom -->
        <div class="container-fluid">
            <button class="btn" id="sidebarToggle"><i class="bi bi-list"></i></button>
            <div class="" style="font-size:26px; font-family: OTWelcomeRA; font-weight:bold">
                <i class="bi bi-vector-pen"> </i><a class="text-decoration-none link-dark" href="/">Sloth's Blog</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-family: OTWelcomeRA; font-weight:bold">
                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                    <li class="nav-item active"><a class="nav-link" th:href="@{/admin}">관리자</a></li>
                    <li class="nav-item active" sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/login}">로그인</a></li>
                    <li class="nav-item active" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/logout}">로그아웃</a></li>
                    <li class="nav-item active" sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/register}">회원가입</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</html>