<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head::header"></head>

<body>
<div class="d-flex" id="wrapper">
    <div th:replace="layout/sidebar::home_sidebar"></div>
    <div id="page-content-wrapper">
        <div th:replace="layout/sidebar::home_top"></div>
        <div class="container" style="margin-top:30px; max-width: 960px">
            <div>
                <p style="font-weight:bolder">전체 글 ( <a style="font-weight:bolder" th:text="${size}"></a> )</p>
            </div>
            <div class="list-group" th:each="post : ${posts}">
                <a class="list-group-item list-group-item-action" th:href="@{/post/{id} (id=${post.id})}"
                   style="border-left:none; border-right:none;border-bottom:none;padding:20px 0px">
                    <!--                    <div style="margin:50px">-->
                    <div class="d-flex w-100 justify-content-between" style="margin-bottom:10px;">
                        <h5 style="font-weight:bold" class="mb-1" th:text="${post.title}">List group item heading</h5>
                        <small th:text="${post.createdDate}">3 days ago</small>
                    </div>
                    <div>
                            <span style="height:100px; width: 60%; text-overflow:ellipsis; overflow:hidden; display:block; color:gray;"
                                  class="mb-1"
                                  th:utext="${post.content}">Some placeholder content in a paragraph.</span>
                    </div>
                    <!--                    </div>-->
                </a>
            </div>
        </div>
        <div th:replace="layout/page::paging"></div>
    </div>
</div>
</body>

</html>